.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-top: 1rem;
  margin-right: auto;
  margin-bottom: 1rem;
}

.App-results {
  list-style-type: none;
}

.App-vehicle {
  display: inline-block;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

.App-vehicle::before {
  content: '🚘';
  display: inline-block;
  margin-right: 0.2rem;
}